#flash-messages {
  position: fixed;
  top: $headerHeight;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;

  .flashMsg {
    width: 100%;
    padding: 1%;

    &.success {
      background-color: rgba(0, 255, 0, 1);
      color: black;
    }

    &.error {
      background-color: rgba(255, 0, 0, 1);
      color: white;
    }

    &.info {
      background-color: rgba(0, 0, 255 , 1);
      color: white;
    }
  }
}